# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
.vscode/
.idea/

# Environment files
.env
.bootstrap_privkey
.db

# Keystore
keystore/data
keystore/test-data

#Compiled binaries
sdk
collectif-go-sdk
filecoin-ffi